    html {
        position: relative;
        min-height: 100%;
    }
    
    body {
        background-image: url('../images/DeathStar.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        margin-bottom: 150px;
    }
    
    h1,h2 {
        color: white;
        text-align: center;
    }
    
    #gamearea{
        text-align: center;
    }
    
    p {
        color: white;
    }
    
    img {
        padding: 5px;
        /* Some padding */
        position: absolute;
        left: 10px;
        
        height: 190px;
        width: auto;
        border:red;
    }
        .xwing,.tieFighter{
        top:60px;
        z-index: 10;
        border:solid 3px green;
        border-radius: 10px;
    }

    .tieInterceptor,.ywing{
        top:250px;
        z-index: 0;
        border:solid 3px green;
        border-radius: 10px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 150px;
       
    }
